<h1 class="e">Validation Form</h1>

<form class="str" [formGroup]="register" (ngSubmit)="onSubmit()">
<br><br>
  <label>Title</label>
  <select formControlName="title" placeholder="title" name="title" >
    <span class="er" *ngIf="register.get('title')?.invalid && register.get('title')?.touched">title is required</span> <br><br>
    <option value=""></option>
    <option value="Mr">Mr</option>
    <option value="Mrs">Mrs</option>
    <option value="Miss">Miss</option>
    <option value="Ms">Ms</option>
</select><br><br>


  <label>
    UserName:
    <input type="text" formControlName="username" placeholder="username"  />
    <span class="er" *ngIf="register.get('username')?.invalid && register.get('username')?.touched">username is required</span> </label><br><br>
 
    <label>
      Password:
      <input type="password" formControlName="password" placeholder="password" name="password">
      <span class="er" *ngIf="register.get('password')?.invalid && register.get('password')?.touched">password is required</span> </label><br><br>

      <label>
        EmailId:
        <input type="email" formControlName="email" placeholder="email" name="email">
        <span class="er" *ngIf="register.get('email')?.invalid && register.get('email')?.touched">EmailId is required</span> </label><br><br>
  
        <button class="btn btn-primary mr-1">Register</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
</form>